/* App.css */

/* Apply styles to the whole app container */
body {
  background-color: #edf1fa;
}

.App {
  display: flex;
}

/* Style for the sidebar */
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
}



/* Style for the navbar */
.navbar {
 
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the logo in the navbar */
.logo {
  font-size: 24px;
}

/* Style for the navigation links in the navbar */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Style for each navigation link item */
.nav-links li {
  cursor: pointer;
}

/* App.css */

/* ... Other styles ... */

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 6px;
  border: none;
  border-radius: 40px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: auto; /* This pushes the avatar to the right */
}

.avatar img {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  cursor: pointer;
}
.search-box{
  width: 400px;
}


/* App.css */
.sidebar {
  /* ... your existing sidebar styles ... */
  display: flex;
  flex-direction: column;
}

.sidebar-text {
  margin-left: auto;
  padding: 20px;
  text-align: right;
}

.separator {
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jGeaPm .head-div{
  background-color: #edf1fa;
  color: black;
}


.icons{
  gap: 18px;
}
